<h1><%= current_user.first_name %>'s Cookbook</h1>

 <form class="form-inline m-3" >
    <%# <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /> %>
      <%# <div class="search-form-control form-group"> %>
        <input class="form-control" type="text" name="search" id="fav-search" placeholder="Search recipe..." />
        <button name="button" type="submit" class="btn btn-success my-2 mx-1"><i class="fas fa-search"></i> Search</button>
      <%# </div> %>
    <%# </form> %>
    </form>

<div class="recipe-card-container">

  <% @favorites.each do |favorite| %>
    <%= link_to recipe_path(favorite.recipe) do%>
      <div class="recipe-card m-3">
        <%= cl_image_tag favorite.recipe.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="icons">

        </div>
        <div class="recipe-title p-2">
          <strong><%= favorite.recipe.title %></strong>
          <p><%= favorite.recipe.preptime < 10 ? "#{favorite.recipe.preptime} h" : "#{favorite.recipe.preptime} mins" %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
