<h1>Welcome</h1>
<p>Find all the recipes you want here</p>

<%unless @recipes.empty? %>
  <% @recipes.each do | recipe | %>
    <ul><li>
      N°<%= recipe.id %>: <%= recipe.title %><br>
      <%= recipe.difficulty %> | Prep: <%=recipe.preptime %> h/min | Serving: <%=recipe.serving%>
    </li></ul>
  <% end%>
  <%else%>
    <p>-- No Recipes Found --</p>
  <%end%>

<%= link_to "All", recipes_path %> |
<%= link_to "Easy", recipes_path(@filter = "easy") %> |
<%= link_to "More Effort", recipes_path(@filter = "effort") %> |
<%= link_to "Challenging Recipes", recipes_path(@filter = "challenge") %> |
<%= link_to "Quick Recipes", recipes_path(@filter = "quick") %> |
<%= link_to "Short Recipes", recipes_path(@filter = "short") %> |
<%= link_to "Long Recipes", recipes_path(@filter = "long") %> |
<%= link_to "Individuals Portions", recipes_path(@filter = "individual") %> |
<%= link_to "Couple Meals", recipes_path(@filter = "couple") %> |
<%= link_to "Family Serving", recipes_path(@filter = "family") %>

