<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dy9zumgoz/image/upload/v1598890996/otfdo1nd4t2iinjvkksw.jpg);">
  <div class="index-recipes-container">
    <h1>Coriander</h1>
    <p>Share your recipes and get inspired by others'</p>
    <form class="form-inline my-3" >
        <input class="form-control" type="text" name="search" id="search" placeholder="Search recipes..." />
        <button type="submit" class="btn orange-btn"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>

<div class="index-recipes-container">

  <div id= "multi-item-example" class="carous-container carousel slide carousel-multi-item" data-ride="carousel">
    <a class="btn-floating arrow" href="#multi-item-example" data-slide="prev"><svg width="40px" height="100px" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg></a>
      <div class = "carousel-inner" role="listbox">
        <div class = "carousel-item active">
          <div class= "filters-container">
            <div class = "filter-card"><%= link_to "All", recipes_path, class: "text-filter" %></div>
            <div class = "filter-card"><%= link_to "Under 30 Minutes", recipes_path(@filter = "quick"), class: "text-filter" %></div>
            <div class = "filter-card"><%= link_to "For Beginners", recipes_path(@filter = "easy"), class: "text-filter" %></div>
            <div class = "filter-card"><%= link_to "Meals for 2", recipes_path(@filter = "couple"), class: "text-filter" %></div>
          </div>
        </div>
        <div class = "carousel-item">
          <div class= "filters-container">
            <div class = "filter-card"><%= link_to "Family Serving", recipes_path(@filter = "family"), class: "text-filter" %></div>
            <div class = "filter-card"><%= link_to "Long Preparation", recipes_path(@filter = "long"), class: "text-filter" %></div>
            <div class = "filter-card"><%= link_to "A Few Steps", recipes_path(@filter = "short"), class: "text-filter" %></div>
            <div class = "filter-card"><%= link_to "Challenging Recipes", recipes_path(@filter = "effort"), class: "text-filter" %></div>
          </div>
        </div>
      </div>
      <a class="btn-floating arrow" href="#multi-item-example" data-slide="next"><svg width="40px" height="100px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg></a>
  </div>


  <div class="recipe-card-container mb-5">

    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do%>
        <div class="recipe-card">
          <%= cl_image_tag recipe.photo.key, height: 280, width: 370 %>
          <div class="card-info">
            <div class="icons-list">
              <% if recipe.preptime >= 10 %>
                <i class="icons-round fas fa-stopwatch-20"></i>
              <% end %>
              <% if recipe.serving.match(/[3-9]|10/) %>
                <i class="icons-round fas fa-users"></i>
              <% end %>
              <% if user_signed_in? %>
                <% if !@favorites.where(recipe_id: recipe.id).empty? %>
                  <i class="icons-round fas fa-heart"></i>
                <% end %>
              <% end %>
            </div>
            <div class="recipe-title px-3">
              <div class="black-title"><strong><%= recipe.title %></strong></div>
              <div class="text-secondary"><%=recipe.preptime < 5 ? "#{recipe.preptime} h" : "#{recipe.preptime} min" %> • <%= recipe.difficulty %></div>

              <div class="rating d-flex align-items-center my-1">
                <% if !recipe.reviews.empty? %>
                  <% ratings = recipe.reviews.map{|review| review.rating} %>
                  <% medium_ratings = ratings.sum.fdiv(ratings.count) %>
                  <% medium_ratings.to_i.times do |r| %>
                    <i class="fas fa-star text-warning"></i>
                  <% end %>
                  <% if medium_ratings != medium_ratings.to_i %>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <% medium_ratings += 1 %>
                  <% end %>
                  <% (5 - medium_ratings.to_i).times do |r| %>
                    <i class="far fa-star text-warning"></i>
                  <% end %>
                <% else %>
                  <% 5.times do |r| %>
                    <i class="far fa-star text-warning"></i>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      <% end%>
    <% end%>

  </div>

</div>

