<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dy9zumgoz/image/upload/v1598890996/otfdo1nd4t2iinjvkksw.jpg);">
  <div class="container">
    <h1>Coriander</h1>
    <p>Share your recipes and get inspired by others'</p>
    <form class="form-inline my-3" >
    <%# <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /> %>
      <%# <div class="search-form-control form-group"> %>
        <input class="form-control" type="text" name="search" id="search" placeholder="Search recipe..." />
        <button name="button" type="submit" class="btn orange-btn"><i class="fas fa-search"></i></button>
      <%# </div> %>
    <%# </form> %>
    </form>
  </div>
</div>

<div id= "multi-item-example" class="carous-container carousel slide carousel-multi-item" data-ride="carousel">
  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
  <div class = "carousel-inner" role="listbox">
      <div class = "carousel-item active">
        <div class= "filters-container">
          <div class = "filter-card"><%= link_to "All", recipes_path %></div>
          <div class = "filter-card"><%= link_to "Quick Recipes", recipes_path(@filter = "quick") %></div>
          <div class = "filter-card"><%= link_to "Easy Recipes", recipes_path(@filter = "easy") %></div>
          <div class = "filter-card"><%= link_to "Individuals Portions", recipes_path(@filter = "individual") %></div>
        </div>
      </div>
      <div class = "carousel-item">
        <div class= "filters-container">
        <div class = "filter-card"><%= link_to "Short Recipes", recipes_path(@filter = "short") %></div>
        <div class = "filter-card"><%= link_to "Couple Meals", recipes_path(@filter = "couple") %></div>
        <div class = "filter-card"><%= link_to "More-Effort Recipes", recipes_path(@filter = "effort") %></div>
        <div class = "filter-card"><%= link_to "Family Serving", recipes_path(@filter = "family") %></div>
        </div>
      </div>

      <div class = "carousel-item">
        <div class= "filters-container">
        <div class = "filter-card"><%= link_to "Challenging Recipes", recipes_path(@filter = "challenge") %></div>
        <div class = "filter-card"><%= link_to "Long Recipes", recipes_path(@filter = "long") %></div>
        </div>
      </div>
  </div>
  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
</div>


<div class="recipe-card-container mb-5">

  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do%>
      <div class="recipe-card">
        <%= cl_image_tag recipe.photo.key, height: 280, width: 370 %>
        <div class="card-info">
          <div class="icons-list">
            <% if recipe.preptime >= 10 %>
              <i class="icons-round fas fa-stopwatch-20"></i>
            <% end %>
            <% if recipe.serving.match(/[3-9]|10/) %>
              <i class="icons-round fas fa-users"></i>
            <% end %>
            <% if user_signed_in? %>
              <% if !@favorites.where(recipe_id: recipe.id).empty? %>
                <i class="icons-round fas fa-heart"></i>
              <% end %>
            <% end %>
          </div>
          <div class="recipe-title px-3">
            <div class="black-title"><strong><%= recipe.title %></strong></div>
            <div class="grey-text"><%=recipe.preptime < 10 ? "#{recipe.preptime} h" : "#{recipe.preptime} min" %> • <%= recipe.difficulty %></div>
          </div>
        </div>
      </div>
    <% end%>
  <% end%>

</div>

