<h1><%= @recipe.title %></h1>

<%= simple_form_for [@recipe, @favorite], class: "favorite-container" do |f| %>
  <%= f.hidden_field :favorited, value: @favorited.to_s %>
  <% if @favorited %>
    <i class="fas fa-heart" id="heart"></i>
  <% else %>
    <i class="far fa-heart" id="heart"></i>
  <% end %>
  <%= f.submit "", class: "favorite-submit" %>
<% end %>

<%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill %>


<p>Prep Time: <%= @recipe.preptime %> </p>
<p>Difficulty: <%= @recipe.difficulty %> </p>
<p>Serving: <%= @recipe.serving %></p>
<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient|%>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Method</h3>
<ol>
  <% @recipe.instructions.each do |instruction|%>
    <% instruction = instruction[6...-1] %>
    <li><%= instruction %></li><br>
  <% end %>
</ol>
