<nav class="navbar navbar-expand navbar-light navbar-meal sticky-top">
  <div class="full-screen-size">
    <div class="collapse navbar-collapse">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= cl_image_tag("hcy3sm5ch14bjarjzqil") %>
        <div class="white-text coriander">Coriander</div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to recipes_path , class: "nav-link" do %>
              <div class="word">Home</div>
                <i class="fas fa-home icon-replace"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to meals_path , class: "nav-link" do %>
              <div class="word">Calendar</div>
                <i class="far fa-calendar-alt icon-replace"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to favorites_path , class: "nav-link" do %>
              <div class="word">Cookbook</div>
                <i class="fas fa-book-open icon-replace"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_recipe_path , class: "nav-link" do %>
              <div class="word">Add recipe</div>
                <i class="far fa-plus-square icon-replace"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <div class="word">Log out (</i><%= current_user.first_name %>)</div>
              <i class="fas fa-sign-out-alt icon-replace"></i>
            <% end %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", "#", class: "nav-link", data: { toggle: "modal", target: "#loginModal" } %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", "#", class: "nav-link", data: { toggle: "modal", target: "#signupModal" } %>
          </li>
        <% end %>

      </ul>

    </div>

  </div>
</nav>

<% if !user_signed_in? %>
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Login!</h5>
        </div>
        <div class="modal-body">
          <%= simple_form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean %>
            </div>
            <div class="form-actions modal-footer">
              <%= f.button :submit, "Log in", class: "w-100 btn orange-btn" %>
            </div>
          <% end %>
          <div class="signup-footer">
          <%= link_to "Sign up","#", class: "nav-link my-1 dark-text", id: "sign-btn", data: { toggle: "modal", target: "#signupModal" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Create an account to see amazing recipes!</h5>
        </div>
        <div class="modal-body">
          <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name" }%>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name" }%>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="form-actions modal-footer">
              <%= f.button :submit, "Sign up", class: "w-100 btn orange-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

