<div class="simple-calendar all">

  <div class="calendar-heading text-center display-full-week my-3">
    <%= link_to calendar.url_for_previous_view do %>
      <svg width="40px" height="60px" viewBox="0 0 16 16" class=" cal-arrow bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    <% end %>
    <span class="calendar-title mx-2">
      <%= t('date.month_names')[date_range.slice(0,7).first.month] %>
      <%= date_range.slice(0,7).first.day %> - <%= t('date.month_names')[date_range.slice(0,7).last.month] %>
      <%=date_range.slice(0,7).last.day %>
    </span>
    <%= link_to calendar.url_for_next_view do %>
      <svg width="40px" height="60px" viewBox="0 0 16 16" class="cal-arrow bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    <% end %>
  </div>

  <div class="calendar-heading text-center display-one-day my-3">
    <%= link_to calendar.url_for_previous_view do %>
      <svg width="24px" height="30px" viewBox="0 0 16 16" class=" cal-arrow bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    <% end %>
    <span class="calendar-title mx-2">
      <%= t('date.abbr_month_names')[date_range.slice(0,7).first.month] %>
      <%= date_range.slice(0,7).first.day %>
    </span>
    <%= link_to calendar.url_for_next_view do %>
      <svg width="24px" height="30px" viewBox="0 0 16 16" class="cal-arrow bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    <% end %>
  </div>

  <table class="table-big">
    <tr class= "headers">
      <th class= "text-color"></th>
      <% date_range.slice(0, 7).each do |day| %>
        <th class= "text-center text-color"><%= t('date.day_names')[day.wday] %></th>
      <% end %>
    </tr>
    <tr class = "body">
      <% date_range.each_slice(7) do |week| %>
        <th class ="first-col">
          <div class= "headlines text-color">Breakfast</div>
          <div class= "headlines text-color">Lunch</div>
          <div class= "headlines text-color">Dinner</div>
        </th>
        <% week.each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
              <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
            <% else %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </table>

  <table class="table-medium">
    <tr class= "headers">
      <th class= "text-color"></th>
      <% date_range.slice(0, 7).each do |day| %>
        <th class= "text-color"><%= t('date.abbr_day_names')[day.wday] %></th>
      <% end %>
    </tr>
    <tr class = "body">
      <% date_range.each_slice(7) do |week| %>
        <th class ="first-col">
          <div class= "headlines icons">
            <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 512 512" xml:space="preserve">
              <path fill="#020202" d="M267.939,158.034c-19.211-54.892,51.879-49.184,7.429-105.83
                C281.347,88.858,213.079,93.688,267.939,158.034z"/>
              <path fill="#020202" d="M231.317,164.89c-57.506-79.285,57.618-93.57-30.802-160.132C231.844,73.297,124.404,90.978,231.317,164.89
                z"/>
              <rect x="126.907" y="489.346" fill="#020202" width="171.882" height="18.924"/>
              <path fill="#020202" d="M428.644,241.002h-90.588v-23.245h0.383c10.873,0,19.769-8.896,19.769-19.769
                c0-10.873-8.896-19.769-19.769-19.769c-287.388,0-112.749,0-254.402,0c-10.873,0-19.753,8.896-19.753,19.769
                c0,10.666,8.545,19.419,19.132,19.769v218.196c0,24.058,19.674,43.748,43.748,43.748h167.162c23.404,0,42.663-18.637,43.684-41.787
                c51.113-13.009,79.014-40.447,94.398-72.652c16.294-34.07,17.25-71.552,17.649-102.498l0.287-21.746h-21.698V241.002z
                M110.517,411.273V229.841h33.608v200.324c0,8.434,2.631,16.31,7.158,22.91C128.613,451.593,110.517,433.37,110.517,411.273z
                M393.793,346.783c-9.247,19.371-25.907,36.302-55.721,46.378V284h68.619C405.702,305.188,402.896,327.715,393.793,346.783z"/>
              <path fill="#020202" d="M180.109,156.998c-44.051-37.992,20.407-68.507-46.394-95.419
                C157.183,90.356,100.441,128.603,180.109,156.998z"/>
            </svg>
          </div>
          <div class= "headlines icons">
            <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 512 512" xml:space="preserve">
              <path fill="#020202" d="M281.402,9.485c-35.639,0-64.55,43.837-64.55,97.89c0,48.286,23.087,88.429,53.412,96.42l-13.815,269.001
                c0,46.608,49.737,45.93,49.737-2.111l-13.852-266.815c30.419-7.878,53.619-48.078,53.619-96.496
                C345.933,53.323,317.041,9.485,281.402,9.485z M287.829,39.283c-26.875,0-48.662,35.866-48.662,80.118
                c0,16.981,3.204,32.737,8.707,45.703c-9.668-14.644-15.7-35.621-15.7-58.934c0-44.233,21.768-80.118,48.662-80.118
                c16.547,0,31.172,13.626,39.974,34.433C312.122,47.311,300.531,39.283,287.829,39.283z"/>
              <path fill="#020202" d="M159.01,124.545h-11.817L136.036,20.398l-11.158,104.147h-12.326L101.414,20.398L90.275,124.545H77.742
                L60.158,20.398c-5.484,49.888-23.125,160.16,47.098,178.668L95.1,468.048c0,46.608,49.737,45.93,49.737-2.111l-15.549-266.815
                c70.431-18.225,51.094-126.952,47.306-178.724L159.01,124.545z M131.174,491.153c-12.966,5.729-29.175-4.448-29.175-30.588
                l10.78-261.141h2.921l-4.693,259.69C111.008,479.355,120.77,490.061,131.174,491.153z"/>
              <path fill="#020202" d="M454.717,197.803L428.388,30.066c-4.448-32.907-36.94-34.81-36.94,0.697v436.492
                c0,50.849,56.145,52.922,50.472-1.904l-24.67-139.278c-3.751-36.186,9.819-34.81,29.401-67.961
                C461.709,232.688,458.505,226.092,454.717,197.803z M410.088,279.843c-7.482,0-7.482,0-7.482,0V26.447v-4.768h1.526
                c0,0-0.019-0.019-0.019-0.038c8.538-2.714,16.472,5.447,18.771,22.39l23.351,148.72c3.355,24.84,6.163,30.815-6.728,52.828
                C439.507,245.579,422.055,273.115,410.088,279.843z"/>
            </svg>
          </div>
          <div class= "headlines icons">
            <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 512 512" xml:space="preserve">
              <path fill="#020202" d="M264.123,163.949v-10.655c10.602-5.715,17.811-16.915,17.811-29.803c0-18.673-15.156-33.812-33.829-33.812
                s-33.829,15.139-33.829,33.812c0,13.627,8.07,25.39,19.693,30.752v10.374C122.547,174.727,35.125,268.074,34.422,381.975h439.306
                C473.007,264.681,380.293,169.154,264.123,163.949z M216.702,223.062c-33.249,10.69-58.867,26.831-77.54,47.895
                c-18.638,21.012-30.559,47.245-36.449,78.173c-1.319,7.051-8.106,11.693-15.174,10.391c-7.051-1.336-11.693-8.123-10.374-15.192
                c6.752-35.552,20.695-65.918,42.55-90.587c21.803-24.581,51.254-43.253,89.057-55.403c6.84-2.198,14.154,1.565,16.334,8.387
                C227.287,213.585,223.525,220.882,216.702,223.062z"/>
              <path fill="#020202" d="M495.038,397.694H16.962c-6.558,0-11.939,5.38-11.939,11.921c0,6.576,5.38,11.921,11.939,11.921h478.076
                c6.558,0,11.939-5.345,11.939-11.921C506.977,403.075,501.614,397.694,495.038,397.694z"/>
            </svg>
          </div>
        </th>
        <% week.each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
              <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
            <% else %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </table>

</div>
