<h1>Calendar</h1>

<button id="update-btn" class= "btn btn-primary">Update</button>
<button id = "back-btn" class= "btn btn-primary" onclick="window.location.href='/recipes'">Look for a meal</button>
<button id = "share-btn" class= "btn btn-primary" data-toggle="modal" data-target="#share-modal" >Share</button>

<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="share-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Share my calendar</h5>
        </div>
        <div class="modal-body">
          <%= form_tag(share_path(current_user.calendar), method: :patch) do %>
            <%= text_field_tag 'email' %>
            <%= submit_tag "Share" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= week_calendar attribute: :date, number_of_weeks: 1, events: @meals do |date, meals| %>
  <%= date %>
  <p>BREAKFAST</p> 
     <% breakfast_meals = meals.select{ |meal| meal.tagname == "breakfast"} %>
  <ul>
  <% unless breakfast_meals.empty? %>
    <%breakfast_meals.each do |meal|%>
      <div class= "meal-card">
      <p><%= meal.recipe.title %><p>
      </div>
    <%end%>
  <%else%>
     <p><i>--None--</i></p>
  <%end%>
  </ul>
  <p>LUNCH</p> 
   <% lunch_meals = meals.select{ |meal| meal.tagname == "lunch"} %>
  <ul>
  <% unless lunch_meals.empty? %>
    <%lunch_meals.each do |meal|%>
      <div class= "meal-card" data-meal-id = '<%= meal.id%>' >
      
      <p><%= meal.recipe.title %><p>
      </div>
    <%end%>
  <%else%>
     <p><i>--None--</i></p>
  <%end%>
  </ul>
  <p>DINNER</p> 
   <% dinner_meals = meals.select{ |meal| meal.tagname == "dinner"} %>
  <ul>
  <% unless dinner_meals.empty? %>
    <%dinner_meals.each do |meal|%>
      <div class= "meal-card" data-meal-id = '<%= meal.id%>'>
      <p><%= meal.recipe.title %><p>
      </div>
    <%end%>
  <%else%>
     <p><i>--None--</i></p>
  <%end%>
  </ul>
<% end %>
<p id = "delete-btn" ><%= link_to "Remove"%></p>
<p class = "array-chosen"></p>
