<div class="banner-smaller" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dy9zumgoz/image/upload/v1598887645/uttuozzjrtdutbkcpuqb.jpg);">>
  <div class="container">
    <h1 class="text-center my-4">My Calendar</h1>
  </div>
</div>

<div class="group-selection">
  <button id="update-btn" class= "btn orange-btn">Group selection</button>
  <button id = "back-btn" class= "btn orange-btn" onclick="window.location.href='/recipes'">Look for a meal</button>
  <button id = "share-btn" class= "btn orange-btn" data-toggle="modal" data-target="#share-modal" >Share</button>
  <p id="delete-btn" ><%= link_to "Delete selection"%></p>
  <p class="array-chosen d-none"></p>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="share-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Share my calendar</h5>
      </div>
      <div class="modal-body">
        <%= form_tag(share_path(current_user.calendar), method: :patch) do %>
          <%= text_field_tag 'email' %>
          <%= submit_tag "Share" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal to add a recipe on a specific date -->

<div class="modal fade" id="meal-modal" tabindex="-1" role="dialog" aria-labelledby="meal-modalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header mb-2">
        <h5 class="modal-title" id="meal-modalLongTitle">All recipes</h5>
      </div>
      <div class="modal-body">
        <form class="form-inline mb-4" id="meal-modal-search" >
          <input class="form-control" type="text" name="search" id="search" placeholder="Search recipe..." />
          <button name="button" type="submit" class="btn orange-btn mx-1"><i class="fas fa-search"></i></button>
        </form>
        <div id="results">

          <% @recipes.each do |recipe| %>

              <div class="modal-recipe-card my-2">
                <%= cl_image_tag recipe.photo.key, height: 50, width: 50 %>

                <div class="modal-card-info">

                  <div class="modal-recipe-title pl-3">
                    <div class="black-title"><strong><%= recipe.title %></strong></div>
                    <div class="text-secondary"><%=recipe.preptime < 10 ? "#{recipe.preptime} h" : "#{recipe.preptime} min" %> • <%= recipe.difficulty %></div>
                    <div class="rating d-flex align-items-center my-1">
                      <% if !recipe.reviews.empty? %>
                        <% ratings = recipe.reviews.map{|review| review.rating} %>
                        <% medium_ratings = ratings.sum.fdiv(ratings.count) %>
                        <% medium_ratings.to_i.times do |r| %>
                          <i class="fas fa-star text-warning"></i>
                        <% end %>
                        <% if medium_ratings != medium_ratings.to_i %>
                          <i class="fas fa-star-half-alt text-warning"></i>
                          <% medium_ratings += 1 %>
                        <% end %>
                        <% (5 - medium_ratings.to_i).times do |r| %>
                          <i class="far fa-star text-warning"></i>
                        <% end %>
                      <% else %>
                        <% 5.times do |r| %>
                          <i class="far fa-star text-warning"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>

                  <div class="recipe-result button-adding" data-recipe-id="<%= recipe.id %>">
                    <%= link_to "ADD MEAL", meals_path %>
                  </div>

                </div>

              </div>

          <% end %>

        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<div>
 <div class="calendar-format mx-3 mb-5">

 <%= week_calendar partial: 'simple_calendar/week_calendar', attribute: :date, number_of_weeks: 1, events: @meals do |date, meals| %>

    <div class="day-format bottom-border">
      <div class="text-center">BREAKFAST
        <button data-tagname="Breakfast" data-date="<%= date %>" class= "btn add-meal-button" data-toggle="modal" data-target="#meal-modal" ><i class="far fa-plus-square"></i></button>
      </div>
      <% breakfast_meals = meals.select{ |meal| meal.tagname == "Breakfast"} %>
      <% unless breakfast_meals.empty? %>
        <%breakfast_meals.each do |meal|%>
          <div class= "meal-card" data-meal-id="<%= meal.id%>">
            <%= link_to meal.recipe.title, recipe_path(meal.recipe) %>
            <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure you want to delete meal?" } do %>
              <i class="far fa-trash-alt smaller-icon hover-garbage"></i>
            <% end %>
          </div>
        <%end%>
      <%end%>
    </div>

    <div class="day-format bottom-border">
      <div class="text-center">LUNCH
        <button data-tagname="Lunch" data-date="<%= date %>" class= "btn add-meal-button" data-toggle="modal" data-target="#meal-modal" ><i class="far fa-plus-square"></i></button>
      </div>
      <% lunch_meals = meals.select{ |meal| meal.tagname == "Lunch"} %>
      <% unless lunch_meals.empty? %>
        <%lunch_meals.each do |meal|%>
          <div class= "meal-card" data-meal-id="<%= meal.id%>" >
            <%= link_to meal.recipe.title, recipe_path(meal.recipe) %>
            <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure you want to delete meal?" } do %>
              <i class="far fa-trash-alt smaller-icon hover-garbage"></i>
            <% end %>
          </div>
        <%end%>
      <%end%>
    </div>

    <div class="day-format">
      <div class="text-center">DINNER
        <button data-tagname="Dinner" data-date="<%= date %>" class= "btn add-meal-button" data-toggle="modal" data-target="#meal-modal" ><i class="far fa-plus-square"></i></button>
      </div>
      <% dinner_meals = meals.select{ |meal| meal.tagname == "Dinner"} %>
      <% unless dinner_meals.empty? %>
        <%dinner_meals.each do |meal|%>
          <div class= "meal-card" data-meal-id="<%= meal.id%>">
            <%= link_to meal.recipe.title, recipe_path(meal.recipe) %>
            <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure you want to delete meal?" } do %>
              <i class="far fa-trash-alt smaller-icon hover-garbage"></i>
            <% end %>
          </div>
        <%end%>
      <%end%>
    </div>

  <% end %>

</div>
