<div class="banner-smaller" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dy9zumgoz/image/upload/v1598887645/uttuozzjrtdutbkcpuqb.jpg);">>
  <div class="container">
    <h1 class="text-center my-4">My Calendar</h1>
  </div>
</div>

<div class="group-selection">
  <button id="update-btn" class= "btn orange-btn">Group selection</button>
  <button id = "back-btn" class= "btn orange-btn" onclick="window.location.href='/recipes'">Look for a meal</button>
  <button id = "share-btn" class= "btn orange-btn" data-toggle="modal" data-target="#share-modal" >Share</button>
  <p id="delete-btn" ><%= link_to "Delete selection"%></p>
  <p class="array-chosen d-none"></p>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="share-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Share my calendar</h5>
        </div>
        <div class="modal-body">
          <%= form_tag(share_path(current_user.calendar), method: :patch) do %>
            <%= text_field_tag 'email' %>
            <%= submit_tag "Share" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div>

 <div class="calendar-format mx-3 mb-5">

 <%= week_calendar partial: 'simple_calendar/week_calendar', attribute: :date, number_of_weeks: 1, events: @meals do |date, meals| %>

    <div class="day-format bottom-border">
      <p class="text-center">BREAKFAST</p>
      <% breakfast_meals = meals.select{ |meal| meal.tagname == "Breakfast"} %>
      <% unless breakfast_meals.empty? %>
        <%breakfast_meals.each do |meal|%>
          <div class= "meal-card" data-meal-id="<%= meal.id%>">
            <%= link_to meal.recipe.title, recipe_path(meal.recipe) %>
            <%# if policy(meal.recipe).destroy? %>
              <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure you want to delete meal?" } do %>
                <i class="far fa-trash-alt smaller-icon hover-garbage"></i>
              <% end %>
            <%# end %>
          </div>
        <%end%>
      <%end%>
    </div>

    <div class="day-format bottom-border">
      <p class="text-center">LUNCH</p>
      <% lunch_meals = meals.select{ |meal| meal.tagname == "Lunch"} %>
      <% unless lunch_meals.empty? %>
        <%lunch_meals.each do |meal|%>
          <div class= "meal-card" data-meal-id="<%= meal.id%>" >
            <%= link_to meal.recipe.title, recipe_path(meal.recipe) %>
            <%# if policy(meal.recipe).destroy? %>
              <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure you want to delete meal?" } do %>
                <i class="far fa-trash-alt smaller-icon hover-garbage"></i>
              <% end %>
            <%# end %>
          </div>
        <%end%>
      <%end%>
    </div>

    <div class="day-format">
      <p class="text-center">DINNER</p>
      <% dinner_meals = meals.select{ |meal| meal.tagname == "Dinner"} %>
      <% unless dinner_meals.empty? %>
        <%dinner_meals.each do |meal|%>
          <div class= "meal-card" data-meal-id="<%= meal.id%>">
            <%= link_to meal.recipe.title, recipe_path(meal.recipe) %>
            <%# if policy(meal.recipe).destroy? %>
              <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure you want to delete meal?" } do %>
                <i class="far fa-trash-alt smaller-icon hover-garbage"></i>
              <% end %>
            <%# end %>
          </div>
        <%end%>
      <%end%>
    </div>

  <% end %>

</div>
