<!DOCTYPE html>
<html>
  <head>
    <title>Coriander</title>
    <link rel="icon" href="https://res.cloudinary.com/dy9zumgoz/image/upload/v1598891471/hcy3sm5ch14bjarjzqil.png" type="image/png">
    <meta name="description" content="Share your recipes and get inspired by others.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Coriander | Meal planner">
    <meta property="og:description" content="Share your recipes and get inspired by others.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.corianderplanner.com/">
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/dy9zumgoz/image/upload/v1598890996/otfdo1nd4t2iinjvkksw.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="algolia-app-id" content="<%= ENV["ALGOLIA_APP_ID"] %>">
    <meta name="algolia-search-only-api-key" content="<%= ENV["ALGOLIA_SEARCH_ONLY_API_KEY"] %>">
    <meta name="current_user_id" content="<%= current_user.id if user_signed_in?%>">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
